:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	color: var(--md-sys-color-on-background);
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	--tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur);
    backdrop-filter: var(--tw-backdrop-blur);
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

#background {
    position: fixed;
    z-index: -2;
    background-color: var(--md-sys-color-on-tertiary-container, #242424);
    will-change: filter;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    width: calc(100lvw + 60px);
    height: calc(100lvh + 60px)
}

#background .background-image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: animation;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animation{
    0%
    {
        background-image: url(https://s23.moe/assets/69618131_p0-921b5129.webp);
    }
    20%
    {
        background-image: url(https://s23.moe/assets/69618131_p1-0eab8e6f.webp);
    }
    40%
    {
        background-image: url(https://s23.moe/assets/69618131_p0-921b5129.webp);
    }
    60%
    {
        background-image: url(https://s23.moe/assets/69618131_p1-0eab8e6f.webp);
    }
    80%
    {
        background-image: url(https://s23.moe/assets/69618131_p0-921b5129.webp);
    }
    100%
    {
        background-image: url(https://s23.moe/assets/69618131_p1-0eab8e6f.webp);
    }
}

@supports (animation-timeline: scroll(root y)) {
    #background {
        animation: background-blur-dim auto linear;
        animation-fill-mode: both;
        animation-timeline: scroll(root y);
        animation-range-start: 10vh;
        animation-range-end: 30vh
    }

    @keyframes background-blur-dim {
        0% {
            filter: blur(10px) brightness(1)
        }

        to {
            filter: blur(10px) brightness(.7)
        }
    }
}

@supports not (animation-timeline: scroll(root y)) {
    #background {
        --blur: clamp(0px, calc(50px * var(--scroll-y-percent, 0) + -5px), 10px);
        --brightness: clamp(.7, calc(-1.5 * var(--scroll-y-percent, 0) + 1.15), 1);
        filter: blur(var(--blur)) brightness(var(--brightness))
    }
}
body:not(.touch-device) #background {
    --multiplier: clamp(0, calc(-5 * var(--scroll-y-percent, 0) + 1.5), 1);
    transform: translate(calc(var(--tx, 0) * var(--multiplier, 1)),calc(var(--ty, 0) * var(--multiplier, 1)));
    transition: transform .1s linear 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


a {
	font-weight: 500;
	//color: #646cff;
	text-decoration: inherit;
}

a:hover {
	//color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}